<h3 class="text-center">Proveedores</h3>

<div class="col-md-8 col-md-offset-2">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th style="width: 40%">Nombre</th>
          <th style="width: 40%">Contacto</th>
          <th style="width: 20%">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @providers.each do |provider| %>
          <tr>
            <td><%= provider.name %></td>
            <td><%= provider.contact %></td>
            <td>
                <%= link_to '', provider, class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Ver' %>
                <%= link_to '', edit_provider_path(provider), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Editar' %>
                <%= link_to '', provider, class:'glyphicon glyphicon-trash btn btn-xs btn-danger', title: 'Borrar', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <div class="pull-right">
        <%= link_to 'Nuevo proveedor', new_provider_path, class: "btn btn-success" %>
    </div>
    <%= render "layouts/pagination", collection: @providers %>
</div>
