<%= simple_form_for(@mark) do |f| %>
    <div class="container col-md-6 col-md-offset-3">
        <%= f.error_notification %>

        <div class="form-group">
            <%= f.input :name %>
        </div>
        <div class="pull-right">
            <%= link_to 'Marcas', marks_path, class: "btn btn-default" %>
            <%= f.button :submit, class: "btn btn-success" %>
        </div>
    </div>

<% end %>
