<%= render "layouts/search_form", search: :name_cont %>

<h3 class="text-center">Marcas</h3>

<div class="col-md-6 col-md-offset-3">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th style="width: 75%">Nombre</th>
          <th style="width: 25%">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @marks.each do |mark| %>
          <tr>
            <td><%= mark.name %></td>
            <td>
                <%= link_to '', mark, class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Ver' %>
                <%= link_to '', edit_mark_path(mark), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Editar' %>
                <%= link_to '', mark, class:'glyphicon glyphicon-trash btn btn-xs btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <div class="pull-right">
        <%= link_to 'Nueva marca', new_mark_path, class: "btn btn-success" %>
    </div>
    <%= render "layouts/pagination", collection: @marks %>
</div>
