<%= simple_form_for(@article) do |f| %>
    <div class="row">
        <div class="container col-md-6">
            <%= f.error_notification %>
            <div class="form-group">
                <%= f.input :code, readonly: current_page?(new_article_url @article) ? false : true, input_html: { onfocusout: current_page?(new_article_url @article) ? "checkIfExistArticle();" : "", autofocus: true }%>
            </div>
            <div class="form-group">
                <%= f.input :name %>
            </div>
            <div class="form-group">
                <%= f.input :cost_price, input_html: {value: @article.cost_price || 0, min: 0, onkeyup: 'calculateFinalPrice(this);'} %>
            </div>
            <div class="form-group">
                <%= f.input :percentage, input_html: {value: @article.percentage || 0, min: 0, onkeyup: 'calculateFinalPrice(this);'} %>
            </div>
            <div class="form-group">
                <%= f.input :final_price, input_html: {value: @article.final_price || 0, min: 0} %>
            </div>
        </div>
        <div class="container col-md-6">
            <div class="form-group">
                <%= f.input :description %>
            </div>
            <div class="form-group">
                <%= f.input :mark_id, :collection => Mark.all.collect { |m| [ m.name, m.id ] }, as: :select %>
            </div>
            <div class="form-group">
                <%= f.input :category_id, :collection => Category.all.collect { |c| [ c.name, c.id ] }, as: :select %>
            </div>

            <%= f.fields_for :stock do |ff| %>
                <div class="form-group">
                    <%= ff.input :current_amount, as: :numeric, input_html: {value: @article.stock.current_amount || 0, min: 0} %>
                </div>
                <div class="form-group">
                    <%= ff.input :minimum_amount, as: :numeric, input_html: {value: @article.stock.minimum_amount || 0, min: 0} %>
                </div>
                <%= ff.hidden_field :id %>
                <%= ff.hidden_field :article_id %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 form-inline">
            <%= f.nested_fields_for :article_providers do |pp| %>
                <%= pp.input :provider_id, :collection => Provider.all.collect {|p| [p.name, p.id] }, label: "Proveedor", as: :select %>
                <%= pp.hidden_field :id %>
                <%= pp.hidden_field :article_id %>
                <%= pp.remove_nested_fields_link 'Eliminar proveedor', class: "btn btn-danger", data: { confirm: "¿Estás seguro que quieres eliminar este proveedor?"}, onclick: 'removeRequire(this);' %>
            <hr>
            <% end %>
            <%= f.add_nested_fields_link :article_providers, "Agregar proveedor", class: "btn btn-success" %>
        </div>
    </div>
    <div class="pull-right">
        <%= link_to 'Artículos', articles_path, class: "btn btn-default" %>
        <%= f.button :submit, class: "btn btn-success" %>
    </div>

<% end %>

<!-- Modal information -->
<div class="modal fade" id="modalCheck" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Información:</h4>
      </div>
      <div class="modal-body">
        <h3>Ya existe un producto con el mismo código de barra.</h3>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Volver</button>
      </div>
    </div>
    <!-- End modal content -->
  </div>
</div>
<!-- End modal confirmation-->

<!-- Solucion al problema de los nested attributes cuando se elimina uno de sus forms -->
<!-- <script type="text/javascript">
jQuery(function ($) {
    $(document).on('article_providers:fieldRemoved', function (event) {
        $('[required]', event.field).removeAttr('required');
    });
});
</script> -->
