<div class="container-fluid">
    <%= render "layouts/search_form", search: :code_or_description_or_name_cont %>
    <div class="pull-right">
        <%= link_to 'Nuevo artículo', new_article_path, class: "btn btn-primary" %>
    </div>
</div>

<% if @articles.length > 0 %>
    <div class="">
        <h3 class="text-center">Artículos</h3>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Precio público</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <% @articles.each do |article| %>
                <tr>
                    <td><%= article.code %></td>
                    <td><%= article.name %></td>
                    <td style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap"><%= article.description %></td>
                    <td><%= get_mark_name(article.mark_id) %></td>
                    <td>$ <%= article.final_price %></td>
                    <td>
                        <%= link_to '', article, class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Ver' %>
                        <%= link_to '', edit_article_path(article), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Editar' %>
                        <%= link_to '', article, class:'glyphicon glyphicon-trash btn btn-xs btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <%= render "layouts/pagination", collection: @articles %>
    </div>
<!-- When @articles collection is empty -->
<% else %>
    <div class="container">
        <h3 class="text-center">No se encontraron artículos.</h3>
    </div>
<% end %>
