<div class="container-fluid">
    <!-- <%= render "layouts/search_form", search: :code_or_description_or_name_cont %> -->
    <div class="container-fluid pull-right">
        <div class="form-inline">
            <%= search_form_for @q do |f| %>
            <%= f.text_field :code_or_description_or_name_cont, class: "form-control", placeholder: "Buscar", onclick: 'this.select();' %>
            <!-- <%= f.label "Marca:" %> -->
            <!-- <%= f.select :mark_id_eq, options_from_collection_for_select(Mark.all, :id, :name), include_blank: true, class: "form-control" %> -->
            <select name="q[mark_id_eq]" id="q_mark_id_eq" class="form-control">
                <option value="">Seleccione marca</option>
                <% Mark.all.order(:name).each do |m| %>
                    <option value="<%= m.id %>"><%= m.name %></input>
                <% end %>
            </select>
            <!-- <%= f.label "Categoría:" %> -->
            <!-- <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, :id, :name), input_html: {class: "form-control"}, include_blank: true %> -->
            <select name="q[category_id_eq]" id="q_category_id_eq" class="form-control">
                <option value="">Seleccione categoría</option>
                <% Category.all.order(:name).each do |c| %>
                    <option value="<%= c.id %>" ><%= c.name %></input>
                <% end %>
            </select>
            <%= f.submit "Buscar", class: "btn btn-default" %>
            <% end %>
        </div>
    </div>

    <div class="pull-left">
        <%= link_to 'Nuevo artículo', new_article_path, class: "btn btn-primary" %>
    </div>
</div>

<% if @articles.length > 0 %>
    <div class="">
        <h3 class="text-center">Artículos</h3>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Precio público</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <% @articles.each do |article| %>
                <tr>
                    <td><%= article.code %></td>
                    <td><%= article.name %></td>
                    <td style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap"><%= article.description %></td>
                    <td><%= get_mark_name(article.mark_id) %></td>
                    <td>$ <%= article.final_price %></td>
                    <td>
                        <%= link_to '', article, class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Ver' %>
                        <%= link_to '', edit_article_path(article), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Editar' %>
                        <%= link_to '', article, class:'glyphicon glyphicon-trash btn btn-xs btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <%= render "layouts/pagination", collection: @articles %>
    </div>
<!-- When @articles collection is empty -->
<% else %>
    <div class="container">
        <h3 class="text-center">No se encontraron artículos.</h3>
    </div>
<% end %>
