<div class="container col-md-4 col-md-offset-4">
    <div class="container-fluid">
      <div class="panel panel-primary">
        <div class="panel-heading text-center"><b>Información del artículo</b></div>
        <div class="panel-body">
          <p>
              <strong>Nombre:</strong>
              <%= @article.name %>
          </p>
          <p>
              <strong>Código:</strong>
              <%= @article.code %>
          </p>
          <p>
              <strong>Marca:</strong>
              <%= get_mark_name(@article.mark_id) %>
          </p>
          <p>
              <strong>Descripción:</strong>
              <%= @article.description %>
          </p>
          <p>
              <strong>Precio de costo:</strong>
              $ <%= get_cost_price(@article.id) %>
          </p>
          <p>
              <strong>Historial de precios:</strong>
              <%= link_to 'Historial', article_historics_path(@article) %>
          </p>
          <p>
              <strong>Porcentaje:</strong>
              <%= @article.percentage %> %
          </p>
          <p>
              <strong>Precio venta:</strong>
              $ <%= get_final_price(@article.id) %>
          </p>
          <p>
              <strong>Categoría:</strong>
              <%= get_category_name(@article.category_id) %>
          </p>
          <p>
              <strong>Stock:</strong>
              <%= @article.stock.current_amount %>
          </p>
          <p>
              <strong>Stock mínimo:</strong>
              <%= @article.stock.minimum_amount %>
          </p>
          <p>
              <strong>Proveedores del artículo:</strong>
              <ul>
                  <% @article.providers.each do |provider| %>
                      <li><%= provider.name %></li>
                  <% end %>
              </ul>
          </p>
        </div>
      </div>
      <div class="pull-right">
        <%= link_to 'Nuevo artículo', new_article_path, class: "btn btn-primary" %>
        <%= link_to 'Editar', edit_article_path(@article), class: "btn btn-success" %>
        <%= link_to 'Artículos', articles_path, class: "btn btn-default" %>
      </div>
    </div>
</div>
