<h3 class="text-center">Stock</h3>

<div class="col-md-8 col-md-offset-2">
    <table class="table table-condensed table-bordered">
      <thead class="bg-primary">
        <tr>
          <th class="text-center">Artículo</th>
          <th class="text-center">Código de artículo</th>
          <th class="text-center">Stock actual</th>
          <th class="text-center">Stock mínimo</th>
        </tr>
      </thead>

      <tbody>
        <% @stocks.each do |s| %>
        <tr class="<%= get_difference(s) <= 0 ? 'danger' : '' %>">
            <td><%= get_article(s.article_id).name %></td>
            <td><%= link_to get_article(s.article_id).code, get_article(s.article_id) %></td>
            <td><%= s.current_amount %></td>
            <td><%= s.minimum_amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= render "layouts/pagination", collection: @stocks %>
</div>
