<h3 class="text-center">Stock</h3>

<div class="col-md-8 col-md-offset-2">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Artículo</th>
          <th>Código de artículo</th>
          <th>Stock actual</th>
          <th>Stock mínimo</th>
        </tr>
      </thead>

      <tbody>
        <% @stocks.each do |s| %>
        <tr class="<%= get_difference(s) <= 0 ? 'danger' : '' %>">
            <td><%= get_article(s.article_id).name %></td>
            <td><%= link_to get_article(s.article_id).code, get_article(s.article_id) %></td>
            <td><%= s.current_amount %></td>
            <td><%= s.minimum_amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <div class="pull-right">
        <%= link_to 'Inicio', root_path, class: "btn btn-success" %>
    </div>
    <%= render "layouts/pagination", collection: @stocks %>
</div>
