<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="text-center">Stock</strong>
    </div>
    <table class="table table-condensed table-bordered table-hover">
      <thead class="">
        <tr>
          <th class="text-center">Artículo</th>
          <th class="text-center">Código de artículo</th>
          <th class="text-center">Stock actual</th>
          <th class="text-center">Stock mínimo</th>
        </tr>
      </thead>

      <tbody>
        <% @stocks.each do |s| %>
        <tr class="<%= get_difference(s) <= 0 ? 'danger' : '' %>">
            <td><%= get_article(s.article_id).name %></td>
            <td><%= link_to get_article(s.article_id).code, get_article(s.article_id) %></td>
            <td><%= s.current_amount %></td>
            <td><%= s.minimum_amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

    <%= render "layouts/pagination", collection: @stocks %>
</div>
