<h3 class="text-center">Histórico <%= get_article(params[:article_id]).name %></h3>

<div class="col-md-6 col-md-offset-3">
    <table class="table table-condensed table-bordered table-hover">
      <thead class="bg-primary">
        <tr>
          <th class="text-center">Fecha modificación</th>
          <th class="text-center">Valor actualizado</th>
        </tr>
      </thead>

      <tbody>
        <% @historics.each do |h| %>
          <tr>
            <td class="text-center"><%= h.created_at.strftime("%d-%m-%Y") %></td>
            <td class="text-center">$ <%= get_historic_cost_price(h.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="container-fluid">
        <div class="pull-right">
            <%= link_to "Atrás", article_path(params[:article_id]), class: "btn btn-default" %>
        </div>
    </div>
    <%= render "layouts/pagination", collection: @historics %>
</div>
