<div class="container-fluid">
    <%= render "layouts/search_form", search: :name_cont %>
</div>
<hr>
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Categorías</strong>
      <div class="pull-right">
        <div class="btn-right">
          <%= link_to 'Nueva categoría', new_category_path, class: "btn btn-success btn-xs" %>
        </div>
      </div>
    </div>
      <table class="table table-condensed table-bordered table-hover">
        <thead class="">
          <tr>
            <th  class="text-center"style="width: 75%"><%= sortable "name", "Nombre" %></th>
            <th  class="text-center"style="width: 25%">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td class="text-center">
                  <%= link_to '', category, class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Ver' %>
                  <%= link_to '', edit_category_path(category), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Editar' %>
                  <%= link_to '', category, class:'glyphicon glyphicon-trash btn btn-xs btn-danger', title: 'Borrar', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <br>
    <%= render "layouts/pagination", collection: @categories %>

</div>
