<h3 class="text-center">Categorías</h3>

<div class="col-md-6 col-md-offset-3">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th style="width: 75%">Nombre</th>
          <th style="width: 25%">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td>
                <%= link_to '', category, class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Ver' %>
                <%= link_to '', edit_category_path(category), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Editar' %>
                <%= link_to '', category, class:'glyphicon glyphicon-trash btn btn-xs btn-danger', title: 'Borrar', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <div class="pull-right">
        <%= link_to 'Nueva categoría', new_category_path, class: "btn btn-success" %>
    </div>
    <%= render "layouts/pagination", collection: @categories %>
</div>
