<h3 class="text-center">Listado de ventas</h3>
<div class="col-md-6 col-md-offset-3">
    <h4>Total: $ <%= @total_interval %></h4>
    <!-- https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <%= search_form_for @q, html: {class: "form-inline"} do |f| %>
        <%= f.label "Inicio:" %>
        <%= f.datetime_field :created_at_gt, class: "form-control", "data-date-inline-picker" => true %>
        <%= f.label "Final:" %>
        <%= f.datetime_field :created_at_lt, class: "form-control", "data-date-inline-picker" => true %>
        <%= f.submit "Buscar", class: "btn btn-default" %>
    <% end %>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
            <th>Hora</th>
            <th>Fecha</th>
            <th>Cantidad líneas</th>
            <th>Total</th>
            <th></th>
        </tr>
      </thead>

      <tbody>
          <% if not @sales.nil? %>
            <% @sales.each do |sale| %>
              <tr>
                <td><%= sale.created_at.strftime("%H:%M:%S") %></td>
                <td><%= sale.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= sale.articles.count %></td>
                <td>$ <%= sale.total_price %></td>
                <td><%= link_to 'Ver más', sale, target: '_blank' %></td>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>


    <br>
    <%#= render "layouts/pagination", collection: @sales %>
</div>
