<h3 class="text-center">Listado de ventas</h3>
<div class="col-md-6 col-md-offset-3">
    <div class="container-fluid">
      <h4><b>Total ventas listadas: $ <%= @total_interval %></b></h4>
    </div>
    <!-- https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <div class="container-fluid no-padding">
      <%= search_form_for @q, html: {class: ""} do |f| %>
        <div class="container-fluid">
          <div class="form-inline">
            <%= f.label "Inicio:" %>
            <%= f.datetime_field :created_at_gt, class: "form-control", "data-date-inline-picker" => true, placeholder: "dd-mm-aaaa hh:mm" %>
            <%= f.label "Final:" %>
            <%= f.datetime_field :created_at_lt, class: "form-control", "data-date-inline-picker" => true, placeholder: "dd-mm-aaaa hh:mm" %>
          </div>
        </div>
        <div class="container-fluid text-center" style="padding-top: 10px; padding-bottom: 10px;">
          <div class="col-md-5 no-padding">
            <%= f.collection_select :sale_lines_article_category_id_eq, Category.order(:name), :id, :name, {prompt: "Seleccione categoría", include_blank: true}, {class: "form-control"} %>
          </div>
          <div class="col-md-5 no-padding">
            <%= f.collection_select :sale_lines_article_id_eq, Article.order(:name), :id, :name, {prompt: "Seleccione artículo", include_blank: true}, {class: "form-control"} %>
          </div>
          <div class="col-md-2 no-padding">
            <%= f.button "", class: "btn btn-success glyphicon glyphicon-search" %>
            <a href="sales" class="btn btn-danger glyphicon glyphicon-remove"></a>
          </div>
        </div>
      </div>
    <% end %>

    <% if (not @category_id.nil?) && (not @category_id.empty?) %>
      <h4>Total vendido en categoría <%= Category.find(@category_id).name %>: $ <%= @total_per_categories %></h4>
    <% end %>
    <% if (not @article_id.nil?) && (not @article_id.empty?) %>
      <h4>Total vendido de producto <%= Article.find(@article_id).name %>: $ <%= @total_per_articles %></h4>
    <% end %>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
            <th>Hora</th>
            <th>Fecha</th>
            <th>Cantidad líneas</th>
            <th>Total</th>
            <th></th>
        </tr>
      </thead>

      <tbody>
          <% if not @sales.nil? %>
            <% @sales.each do |sale| %>
              <tr>
                <td><%= sale.created_at.strftime("%H:%M:%S") %></td>
                <td><%= sale.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= sale.articles.count %></td>
                <td>$ <%= sale.total_price %></td>
                <td><%= link_to 'Ver más', sale, target: '_blank' %></td>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>

    <br>
    <%#= render "layouts/pagination", collection: @sales %>
</div>
