<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/">Kiosco</a>
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Inicio", root_path %></li>
            <li class="<%= 'active' if current_page?(articles_path) %>"><%= link_to "Artículos", articles_path %></li>
            <li class="<%= 'active' if current_page?(stocks_path) %>"><%= link_to "Stock", stocks_path %></li>
            <li class="<%= 'active' if current_page?(categories_path) %>"><%= link_to "Categorías", categories_path %></li>
            <li class="<%= 'active' if current_page?(providers_path) %>"><%= link_to "Proveedores", providers_path %></li>
            <li class="<%= 'active' if current_page?(marks_path) %>"><%= link_to "Marcas", marks_path %></li>
        </ul>
    </div>
</nav>
