<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de ventas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px;" onload="disableInputsSales();">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="<%= root_path %>">Inicio</a>
                  <a class="navbar-brand" href="<%= articles_path %>" >Artículos</a>
                  <a class="navbar-brand" href="<%= categories_path %>" >Categorías</a>
                  <a class="navbar-brand" href="<%= providers_path %>" >Proveedores</a>
                  <a class="navbar-brand" href="<%= marks_path %>" >Marcas</a>
              </div>
              <div class="collapse navbar-collapse">
                  <form class="navbar-form navbar-right" role="search">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Buscar">
                      </div>
                      <button type="submit" class="btn btn-default">Buscar</button>
                  </form>
              </div>
          </div>
      </nav>
      <div class="container col-md-12">
          <!-- Showing errors/alerts messages -->
          <% if flash[:success] %>
              <p id="success" class="alert bg-success text-center"><%= flash[:success] %></p>
          <% end %>
          <% if flash[:alert] %>
              <p id="alert" class="alert bg-danger text-center"><%= flash[:alert] %></p>
          <% end %>
          <%= yield %>
      </div>
  </body>
</html>
