<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de ventas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px;">
      <%= render "layouts/navbar" %>
      <div class="container col-md-12">
          <%= render "layouts/alerts" %>
          <%= yield %>
      </div>
  </body>

</html>
