<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de ventas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 60px;">
      <%= render "layouts/navbar" %>
      <div class="container-fluid">
          <%= render "layouts/alerts" %>
          <%= yield %>
      </div>
      <footer class="footer" style="padding: 5px;">
          <div class="container-fluid">
          </div>
      </footer>
  </body>


</html>
