<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de ventas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px;" onload="disableInputsSales();">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="<%= root_path %>">Inicio</a>
                  <a class="navbar-brand" href="<%= articles_path %>" >Artículos</a>
                  <a class="navbar-brand" href="<%= categories_path %>" >Categorías</a>
                  <a class="navbar-brand" href="<%= providers_path %>" >Proveedores</a>
                  <a class="navbar-brand" href="<%= marks_path %>" >Marcas</a>
              </div>
              <div class="collapse navbar-collapse">
                  <form class="navbar-form navbar-right" role="search">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Buscar">
                      </div>
                      <button type="submit" class="btn btn-default">Buscar</button>
                  </form>
              </div>
          </div>
      </nav>

      <div class="container col-md-12">
          <!-- Showing errors/alerts messages -->
          <% if flash[:success] %>
            <div class="alert alert-success dismissable text-center" role="alert">
                <span><%= flash[:success] %></span>
      			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
      		  	    <span aria-hidden="true">&times;</span>
      			</button>
  		    </div>
          <% end %>
          <% if flash[:alert] %>
              <div class="alert alert-danger text-center dismissable text-center" role="alert">
                  <span><%= flash[:alert] %></span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        		  	<span aria-hidden="true">&times;</span>
        		  </button>
              </div>
          <% end %>
          <!-- End of errors/alerts messages -->
          <%= yield %>
      </div>
  </body>

  <!-- Quitar la notificación -->
  <script type="text/javascript">
      jQuery(function($){
          if ($('.alert').hasClass('dismissable')) {
              setTimeout(function(){
                  $('.alert').fadeOut();
              }, 7500);
              $('.alert').click(function(){
                  $('.alert').fadeOut();
              });
          }
      });
  </script>

</html>
